<div class="dropdown">
  <button class="dropbtn"><h1 id="main-title">Best Books!</h1></button>
  <div class="dropdown-content">
    <a href="#">Mutha</a>
    <a href="#">fuk </a>
    <a href="#">css</a>
  </div>
</div>
