<div class="dropdown">
  <button class="dropbtn"><h1 id="main-title">Best Books!</h1></button>
  <div class="dropdown-content">
    <a href="/">Homepage</a>
    <a href="/search">Search Books</a>
  </div>
</div>
