body {
    background-color: plum;
}

h1 {
    color: gray;
    float: left;
}

.book-container {
    text-align: center;
    margin: auto;
    width: 400px;
    background-color: maroon;
    color: white;
    font-size: 18px;
}

.searchResults {
    text-decoration: none;
}

img {
    margin:auto;
    width: 400px;
}

h3, span {
    float: center;
}

.description {
    background-color: darkblue;
}

section {
    background-color: goldenrod;
}

#navButton {
    width: 5vmin;
    height: 5vmin;
    float: right;

}

#header {
    background-color: gray;
    width: 100vw;
    height: 5vh;
    padding: 20px;
    
}

