body {
    background-color: lightgray;
}

#main-title {
    color: white;
    font-size: 280%;
    font-family: 'Amatic SC', cursive;
    font-weight: 900;
    
}

.searchResults {
    text-decoration: none;
    text-align: center;
}

.bookImg {
    
    width: 400px;
}

h3, span {
    float: center;
}

.description {
    background-color: darkblue;
}

#navButton {
    width: 5vmin;
    height: 5vmin;
    justify-self: flex-start;
}

#header {
    background-color: gray;
    width: 100vw;
    height: 32px;
    padding: 20px;
    position: fixed;
    top: 0px;
    display: flex;
    justify-content:space-between;
    
}

.hidden {
    display: none;
}