<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head') %>
  <title>Error</title>
</head>
<body>
  <%- include('../partials/header') %>
  <section id="content">
      <h3 class="page-title"> <%= status %> </h3>
      <%= error %>
  </section>
</body>
</html>